@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './normalize.css';
@import './_variables';
@import './_root_variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: 0px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
    }
    ::-webkit-scrollbar-thumb {
        background: white;
        -webkit-box-shadow: none;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: none;
    }

    input:focus {
        --tw-ring-shadow: transparent ${!important};
    }

    input[type='checkbox'] {
        @apply text-primary-color;
    }

    body {
        /* @apply px-36 bg-gray-900; */
        @apply flex items-center justify-center overflow-hidden px-36;
        background-color: #111827;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e5e7eb' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #root {
        @apply relative flex h-full w-[1640px] animate-fade-in-down flex-col gap-3 bg-white pt-3 font-sans text-base text-gray-600 selection:bg-primary-color;
    }

    #root.dark-theme {
        @apply bg-gray-700 text-gray-200;
    }

    code {
        @apply cursor-pointer font-mono text-base font-bold text-primary-color;
    }

    h1 {
        @apply py-10 text-5xl;
    }

    h2 {
        @apply py-10 text-3xl;
    }

    h3 {
        @apply text-xl;
    }

    h1,
    h2,
    h3 {
        @apply select-none font-serif font-bold;
    }

    ul,
    li,
    a,
    a:focus,
    a:active,
    a:hover,
    a:visited {
        @apply text-inherit outline-0;
    }

    .dark-theme h1,
    .dark-theme h2,
    .dark-theme h3,
    .dark-theme h4,
    .dark-theme h5,
    .dark-theme h6 {
        @apply text-gray-200;
    }

    h1.focused,
    h2.focused {
        @apply text-primary-color;
    }
}

@layer components {
    .left-menu-link {
        @apply flex h-full w-full cursor-pointer p-3 transition-all ease-out hover:font-bold hover:text-primary-color;
    }

    .nav-menu-link {
        @apply flex w-28 select-none items-center justify-center gap-3 px-2 py-1 transition-all ease-in-out hover:animate-pulse hover:font-bold hover:text-primary-color;
    }

    .catalog-menu-item {
        @apply flex h-20 w-20 select-none items-center justify-center rounded-xl border-2 border-primary-color 
               bg-primary-color bg-opacity-10 text-white
             transition-all ease-in-out 
               hover:animate-pulse hover:font-bold #{!important};
    }

    .anchor-menu-link {
        @apply flex h-full w-full cursor-pointer items-center justify-end gap-4 py-3 italic opacity-70 transition-all ease-out 
        hover:animate-pulse hover:font-bold hover:text-primary-color hover:opacity-100 #{!important};
    }
    .color-pen {
        @apply h-7 w-7 cursor-pointer rounded-full;
    }
}

@layer utilities {
    .placeholder-italic::placeholder {
        @apply italic;
    }
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .overflow-wrap-anywhere {
        word-break: break-word #{!important}; /* Chrome, Safari */
        overflow-wrap: anywhere #{!important}; /* Firefox */
    }

    .absolute-center {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }
}
