@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './normalize.css';
@import './joker';

body {
    margin: 0;
    font-family: 'Fira Sans', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
}

code {
    font-family: 'Fira Sans', 'Happy Monkey', source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
    color: #1890ff;
    cursor: pointer;
}

#root {
    display: flex;
    flex-direction: column;
    background: #edeef0;
    height: 100%;
}

p {
    font-size: 22px;
    cursor: default;
    margin-bottom: 40px;
}

h1,
h2 {
    font-weight: bold;
    cursor: default;
}

.module-wrapper {
    display: flex;
    width: 100%;
    height: calc(100% - 47px);
    margin: 0 auto;
}

.sidemenu-navlink-active > li {
    color: white;
    background: #1890ff;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
