@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        width: 0px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
    }
    ::-webkit-scrollbar-thumb {
        background: white;
        -webkit-box-shadow: none;
    }
    ::-webkit-scrollbar-thumb:window-inactive {
        background: none;
    }

    body {
        /* @apply px-36 bg-gray-900; */
        @apply flex items-center justify-center px-36 overflow-x-hidden;
        background-color: #111827;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e5e7eb' fill-opacity='0.35' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #root {
        @apply relative flex flex-col gap-3 pt-3 h-full w-[1640px] bg-white font-sans text-base text-gray-600 selection:bg-primary-color animate-fade-in-down;
    }

    #root.dark-theme {
        @apply bg-gray-700 text-gray-200;
    }

    code {
        @apply font-mono text-primary-color cursor-pointer text-base font-bold;
    }

    h1 {
        @apply text-5xl py-10;
    }

    h2 {
        @apply text-3xl py-10;
    }

    h3 {
        @apply text-xl;
    }

    h1,
    h2,
    h3 {
        @apply font-bold font-serif select-none;
    }

    ul,
    li,
    a,
    a:focus,
    a:active,
    a:hover,
    a:visited {
        @apply outline-0 text-inherit;
    }

    .dark-theme h1,
    .dark-theme h2,
    .dark-theme h3,
    .dark-theme h4,
    .dark-theme h5,
    .dark-theme h6 {
        @apply text-gray-200;
    }

    h1.focused,
    h2.focused {
        @apply text-primary-color;
    }
}

@layer components {
    .left-menu-link {
        @apply flex p-3 w-full h-full cursor-pointer transition-all ease-out hover:text-primary-color hover:font-bold;
    }

    .nav-menu-link {
        @apply flex items-center justify-center gap-3 w-28 px-2 py-1 transition-all ease-in-out select-none hover:text-primary-color hover:animate-pulse hover:font-bold;
    }

    .catalog-menu-item {
        @apply flex items-center bg-opacity-10 justify-center border-2 rounded-xl border-primary-color w-20 h-20 
               transition-all ease-in-out select-none
             !text-white bg-primary-color 
               hover:animate-pulse hover:font-bold;
    }

    .anchor-menu-link {
        @apply flex gap-4 justify-end items-center py-3 w-full h-full cursor-pointer transition-all italic opacity-70 ease-out 
        hover:!text-primary-color hover:font-bold hover:opacity-100 hover:animate-pulse;
    }
    .color-pen {
        @apply h-7 w-7 rounded-full cursor-pointer;
    }
}