.routes-list {
    @apply px-5;

    li {
        cursor: pointer;
        padding: 5px;
        border-bottom: 2px solid #1890ff;
        transition: margin 0.3s ease-in-out;
        font-size: 15px;
        &:hover {
            background: #1890ff;
            color: white;
            -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
            margin-left: -3px;
        }
    }
}
